version: '3.3'

services:
  nginx_api:
    image: rash07/nginx-api
    container_name: nginx_api
    working_dir: /var/www/html
    ports:
      - "${APP_PORT}:80"
    volumes:
      - ./:/var/www/html
      - ./docker/default.conf:/etc/nginx/sites-available/default
    networks:
      - apinet

  php_api:
    image: rash07/php-api
    container_name: php_api
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
    networks:
      - apinet

  mariadb:
    image: mariadb:11.5.2
    container_name: mariadb_api
    environment:
      - MYSQL_ROOT_PASSWORD="${DB_PASSWORD}"
    ports:
      - "${DB_PORT_EXTERNAL}:${DB_PORT}"
    volumes:
      - api_mysqldata:/var/lib/mysql
      # generar usuario y base de datos para utilizar en conexion del .env
      - ./docker/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - apinet

networks:
  apinet:
    external:
      name: apinet

volumes:
  api_mysqldata:
    driver: "local"
