version: '3.8'

services:
  nginx_api:
    image: rash07/nginx-api
    working_dir: /var/www/html
    ports:
      - 80:80
    volumes:
      - ./:/var/www/html
      - ./docker/default.conf:/etc/nginx/sites-available/default
    networks:
      - apinet

  php_api:
    image: rash07/php-api
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
    networks:
      - apinet

  mariadb:
    image: mariadb:11.5.2
    environment:
      - MYSQL_ROOT_PASSWORD="${MYSQL_ROOT_PASSWORD}"
    ports:
      - "${MYSQL_PORT_HOST}:3306"
    volumes:
      - api_mysqldata:/var/lib/mysql
      # generar usuario y base de datos para utilizar en conexion del .env
      - ./docker/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - apinet

networks:
  apinet:
    external: true
    name: apinet

volumes:
  api_mysqldata:
    driver: "local"
